.jvectormap-legend-title {
  font-size: 12px;
}

.jvectormap-legend .jvectormap-legend-tick-sample {
  height: 26px;
}

.jvectormap-legend-icons {
  background: white;
  border: black 1px solid;
}

.jvectormap-legend-icons {
  color: black;
}
body {
  font-family: "Georgia", Times, serif;
}
.container{
	margin: 20px;
}
p {
  font-size: 20px;
}
h1{
	padding-bottom: 15px;
}
li {
  font-size: 20px;
}
.graph{
	padding-bottom:20px;
}